# HELM VARIABLES
# Dynamic environment selection
{{- $env := .Values.env }}
{{- $app := index .Values.apps $env }}

# Common values to both environment
{{- $common := .Values.apps.common }}

{{- $meta := $app.metadata }}
{{- $spec := $app.spec }}
{{- $ingress := $spec.ingress }}
{{- $svc := $spec.svc }}

# SHORTCUT
{{- $name := $common.metadata.name }}
{{- $namespace := $meta.namespace }}

apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ printf "%s-%s-ingress" $name $env }}
  namespace: {{ $namespace }}
  annotations:
    {{- range $k, $v := $ingress.annotations }}
      {{ $k }}: {{ $v | quote }}
    {{- end }}
spec:
  ingressClassName: {{ $common.spec.ingress.class }}
  rules:
    - host: {{ printf "%s.%s" $env $common.domain }}
      http:
        paths:
          - path: {{ $common.spec.ingress.path }}
            pathType: {{ $common.spec.ingress.pathType }}
            backend:
              service:
                name: {{ printf "%s-%s-svc" $name $env}}
                port:
                  number: {{ $svc.svcPort }}

  {{- if ne $env "test" }}
  tls:
    - hosts:
        - {{ printf "%s.%s" $env $common.domain }}
      secretName: {{ printf "%s-%s-tls" $name $env }}
  {{- end }}